/* 1. @Font-Face Ñ load my google fonts... */

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,300,600");
@import url("http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700,400italic,700italic");

body, .opensans {font-family: 'Open Sans', Helvetica, Arial, sans-serif; }
.gentium { font-family: 'Gentium Book Basic', Georgia, serif; }

/* END @Font-Face */

/* 2. General Layout / Design Stuff */
/* =================================================================== */
/* =================================================================== */

/* Color Palette */
/*
pink          rgba(236,64,121,1)
brown         rgba(47,41,38,1)
gray          rgba(132,132,120,1)
dark gray     rgba(96,103,103,1)
light gray    rgba(194,211,186,1)

red           rgba(183,80,81,1)
orange        rgba(195,115,99,1)
yellow        rgba(197,192,101,1)
green         rgba(140,165,115,1)
blue          rgba(157,178,176,1)
purple        rgba(174,139,164,1)
*/


html {
  background: rgba(96,103,103,1);
  color: rgba(47,41,38,1) !important;
  min-height: 101%;
  /**/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /**/
}

body {
  background: rgba(132,132,120,1);
  border: 2px solid rgba(47,41,38,1);
  color: rgba(47,41,38,1) !important;
  margin: 20px;
  min-height: 101% !important;
  padding: 0;
}

/* 3. TYPOGRAPHY */
/* =================================================================== */
/* =================================================================== */
* {
  font-size: 18px;
  line-height: 32px;
}

html,body,h1,h2,h3,h4,h5,h6,p,span,ul,ol,dl,a {
  font-size: 1em;
  line-height: inherit;
}

h1,h2 {
  font-size: 27px;
  line-height: 40px;
  margin: 0;
}

sup {
  vertical-align: super;
}

em, cite { font-style: italic; }
h1,h2,strong { font-weight: 700;}
.stricken, del {
  text-decoration: line-through;
}

/* Links and More */
/* =================================================================== */
a {
  background: rgba(236,64,121,0);
  border-bottom: 1px solid rgba(96,103,103,1);
  color: rgba(47,41,38,1);
  text-decoration: none;
  /**/
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
}

a:hover { 
  background: rgba(236,64,121,1);
  border-bottom: none;
  color: white;
  text-decoration: none;
  }

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

::selection {
  background: rgba(236,64,121,1);
  color: white;
  text-shadow: none;
}

/* Homepage type positioning */
header h1 .text {
  transform:rotate(-7deg);
  -ms-transform:rotate(-7deg); 
  -moz-transform:rotate(-7deg);
  -webkit-transform:rotate(-7deg);
  -o-transform:rotate(-7deg);
}

/* Quote Style Tweak */
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 3px solid rgba(96,103,103,1);
}

/* =================================================================== */
/* =================================================================== */
/* LAYOUT */
/* =================================================================== */
/* =================================================================== */

body > div.pad {
  padding: 20px 0px;
  width: 576px;
  margin: 0 auto;
}

header, footer, #blocks section {
  width: 576px;
  margin-bottom: 32px;
}

#logo { 
  width: 144px; 
  height: auto; 
  margin-top: -72px; 
  margin-bottom: 24px; 
  margin-left: -72px; 
  position: relative; 
  left: 50%; 
  }
#portrait { 
  display: block;
  width: 288px; 
  height: auto;
  margin: 0 auto 24px auto;
  }

@media (min-width: 300px) {
  body > div.pad {
    padding: 15px;
    width: auto;
  }
  
  header, footer, #blocks section, #portrait {
    width: 248px;
    margin-bottom: 32px;
  }
}

  header, footer p, #blocks section p, #portrait {
    transform:rotate(-7deg);
    -ms-transform:rotate(-7deg); 
    -moz-transform:rotate(-7deg);
    -webkit-transform:rotate(-7deg);
    -o-transform:rotate(-7deg);
  }
}


@media (min-width: 300px) and (max-width: 599px) {
  * {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (min-width: 479px) and (max-width: 599px) {
  body > div.pad {
    padding: 38px;
    width: auto;
  }
  
  header, footer, #blocks section, #portrait {
    width: 360px;
  }
}


@media (min-width: 600px) {
  * {
    font-size: 18px;
    line-height: 32px;
  }
  header, footer, #blocks section, #portrait {
    width: 288px;
  }
}

@media (min-width: 600px) and (max-width: 759px) {

  body > div.pad {
    width: 556px;
    margin: 0 auto;
    padding: 0;
  }

  #logo {
    margin-top: -144px;
    margin-bottom: -144px;
    margin-left: 324px;
  }

  header {
    margin-top: 40px;
    margin-left: 24px;
  }

  #portrait {
    margin-left: -48px;
    margin-bottom: -56px;
  }
  
  #blocks section:nth-child(odd) {
    margin-left: 222px;
  }

  #blocks section:nth-child(even) {
    margin-left: 20px;
  }

}

@media (min-width: 760px) and (max-width: 979px) {

  body > div.pad {
    padding: 20px;
    width: 716px;
    margin: 0 auto;
  }
  
  #logo {
    margin-top: 0;
    margin-bottom: -144px;
    margin-left: 0;
    position: relative;
    top:216px;
    z-index: 1;
  }

  header {
    margin-top: 48px;
    margin-left: 104px;
    position: relative;
    z-index: 2;
  }

  #portrait {
    margin-top: 0;
    margin-bottom: -288px;
    margin-left: 0;
    position: relative;
    top:-288px;
    left: 400px;
    z-index: 0;
  }
  
  #intro {
    margin-top: 32px;
    margin-left: 288px;
  }
  
  #location {
    margin-top: 24px;
    margin-left: 432px;
  }

  #currently {
    margin-top: -24px;
  }

  #whatelse {
    margin-left: 144px;
  }
  
  #lectures {
    margin-top: -48px;
    margin-left: 432px;
  }
  #comma {
    margin-top: 64px;
  }

  #bjornmeansbear {
    margin-top: -48px;
    margin-left: 360px;
  }

  #referencelinks {
    margin-top: -32px;
    margin-left: 72px;
  }

  #contact {
    margin-top: -64px;
    margin-left: 432px;
  }

}

@media (min-width: 980px) {

  html {
    margin: 0;
    padding: 0;
  }

  body {
    border-top: none;
    border-bottom: none;
    margin-top:0;
    margin-bottom: 0;
    padding: 0;
    height: auto;
  }

  body > div.pad {
    margin: 0 !important;
    padding: 20px;
    width: auto;
  }
  
  #logo {
    margin-top: -72px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -180px;
    position: fixed;
    top:50%;
    left:50%;
    z-index: 99999999;
  }

  header {
    margin-top: -85px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -16px;
    position: fixed;
    top:50%;
    left:50%;
    z-index: 99999999;
  }

  #portrait {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    position: relative;
    left: 10%;
  }
  
  #blocks section {
    margin: 144px 0;
    position: relative;
  }

  #intro {
    left: 20%;
  }

  #intro {
    left: 66%;
  }

  #location {
    left: 33%;
  }

  #currently {
    left: 40%;
  }

  #whatelse {
    left: 50%;
  }

  #lectures {
    left: 66%;
  }

  #comma {
    left: 36%;
  }

  #bjornmeansbear {
    left: 75%;
  }

  #referencelinks {
    left: 10%
  }

  footer {
    position: relative;
    left: 77%;
  }

}