/* 1. @Font-Face Ñ load my google fonts... */

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,300,600");
@import url("http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700,400italic,700italic");

body, .opensans {font-family: 'Open Sans', Helvetica, Arial, sans-serif; }
.gentium { font-family: 'Gentium Book Basic', Georgia, serif; }

/* END @Font-Face */

/* 2. General Layout / Design Stuff */
/* =================================================================== */
/* =================================================================== */

/* Color Palette */
/*
pink          rgba(236,64,121,1)
brown         rgba(47,41,38,1)
gray          rgba(132,132,120,1)
dark gray     rgba(96,103,103,1)
light gray    rgba(194,211,186,1)

red           rgba(183,80,81,1)
orange        rgba(195,115,99,1)
yellow        rgba(197,192,101,1)
green         rgba(140,165,115,1)
blue          rgba(157,178,176,1)
purple        rgba(174,139,164,1)
*/

html {
  background: rgba(96,103,103,1);
  color: rgba(47,41,38,1) !important;
  min-height: 101%;
  /**/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /**/
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

body {
  background: rgba(132,132,120,1);
  border: 2px solid rgba(47,41,38,1);
  color: rgba(47,41,38,1) !important;
  margin: 20px;
  min-height: 101% !important;
  padding: 0;
}

em, cite { font-style: italic; }
strong { font-weight: 700;}

header {
  position: relative;
  z-index: 0;
}

footer {
  border-top: 6px solid rgba(47,41,38,1);
  margin-top: 40px;
  margin-bottom: 72px;
  padding: 24px 0;
}

/* Big Stripe Across the Middle */
article.jumbotron {
  margin-top: 800px; /*going to set by JS, this is just incase... */
  margin-bottom: 40px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

article.jumbotron.stripe {
  background: rgba(96,103,103,1);
  margin-left: -22px;
  margin-right: -22px;
}

article.jumbotron section {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 10px;
  margin: 0 10px;
}

article.jumbotron p {
  font-size: 200%;
  line-height: 1.1;
  font-weight: 700;
}

@media (min-width: 980px) {
  article.jumbotron section {
    padding: 88px;
    margin: 0 20px;
  }
  article.jumbotron p {
    font-size: 600%;
    line-height: 1.1;
    font-weight: 700;
  }
}

/* MAIN TOP NAV STYLES                                   */
/* ===================================================== */

nav.navbar {
  margin-right: auto;
  margin-left: auto;
}

nav.navbar ul.nav {
  list-style: none;
  padding: 0;
}

nav.navbar ul.nav a {
  background: rgba(96,103,103,1);
  border: 1px solid rgba(47,41,38,1);
  color: rgb(47, 41, 38);
  display: block;
  font-weight: 400;
  padding: 10px 30px;
  text-decoration: none;
}

nav.navbar #logo, nav.navbar #logo img {
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
}

nav.navbar #logo:hover {background: none;}

.navbar .btn, .navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled], .navbar .btn.btn-navbar {
  background-color: rgba(96,103,103,1);
  border-color: rgba(47,41,38,1);
}

.navbar .btn.btn-navbar .icon-bar {
  background-color: rgba(47,41,38,1);
  border-color: rgba(96,103,103,1);
}

/*.navbar mediaqueries */
@media (max-width: 979px) {
  nav.navbar {
    width: auto;
  }
  nav.navbar #logo {
    float:left;
    text-align: center;
    margin-left: 10px;
    margin-top: -30px;
    }
    
  nav.navbar #logo img {
    height: auto;
    width: 100px;
  }
  .nav-collapse {
    margin-top: -32px;
    margin-right: 5px;
  }
}

@media (min-width: 980px) {
  nav.navbar {
    width: 940px;
  }
  nav.navbar {
    line-height: 50px;
    font-size: 16px;
    height: 1px;
    overflow: visible;
  }
  nav.navbar #logo {
    margin-top: 34px;
  }
  nav.navbar #logo, nav.navbar #logo img {
    height: auto;
    width: 170px;
  }
  nav.navbar ul.nav {
    margin: 22px 0 0 0;
    top:76px;
  }

  nav.navbar ul.nav li a {
    border-right: none;
  }
  nav.navbar ul.nav li:last-child a {
    border-right: 1px solid rgba(47,41,38,1);
  }
  
}

@media (min-width: 1200px) {
  nav.navbar {
    width: 1170px;
  }
}

/* Array of images on the homepage that scroll with text */
/* ===================================================== */
#array {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -30px;
  z-index: -99999;
  opacity: .22;
}

#array li:nth-child(1) { margin-top:  30px; }
#array li:nth-child(2) { margin-top:  -5px; }
#array li:nth-child(3) { margin-top: 150px; }
#array li:nth-child(4) { margin-top:  20px; }
#array li:nth-child(5) { margin-top:  50px; }
#array li:nth-child(6) { margin-top: -25px; }

/* 3. TYPOGRAPHY */
/* =================================================================== */
/* =================================================================== */
.leftside {text-align: right;}
.rightside {text-align: left;}

sup {
  vertical-align: super;
}

/* Links and More */
/* =================================================================== */

a {
  color: rgba(47,41,38,1);
  text-decoration: none;
  background: rgba(132,132,120,.1);
  border-bottom: 1px solid rgba(236,64,121,1);
  padding: 1px 2px 1px 2px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
}

a:hover,
nav.navbar ul.nav a:hover { 
  background: rgba(236,64,121,1);
  color: white;
  text-decoration: none;
  }

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

::selection {
  background: rgba(236,64,121,1);
  color: white;
  text-shadow: none;
}

/**************************/
/* crazy type on homepage */
/**************************/
.home header h1 {
  display: block;
  font-size: 54px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

header h1 em { 
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: -5px;
}

header h1 em, header span {
  display:block;
  margin:0;
  padding:0;
}

/* Homepage type positioning */
header h1 .text {
  transform:rotate(-22.5deg);
  -ms-transform:rotate(-22.5deg); 
  -moz-transform:rotate(-22.5deg);
  -webkit-transform:rotate(-22.5deg);
  -o-transform:rotate(-22.5deg);
}

@media (max-width: 480px) {
  .home header h1 {
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  
  header h1 .one   { text-indent: -200px; }
  header h1 .two   { text-indent: 48px; }
  header h1 .three { text-indent: -270px; margin-top: -24px; }
  header h1 .four  { text-indent: 36px; }
  header h1 .five  { text-indent: 36px; }
}

@media (min-width: 481px) and (max-width: 761px) {
  .home header h1 {
    top: 72px;
    left:-72px;
  }
  
  header h1 .one   { text-indent: -402px; }
  header h1 .two   { text-indent: 0; }
  header h1 .three { text-indent: -402px; }
  header h1 .four  { text-indent: -72px; }
  header h1 .five  { text-indent: 120px; }
}

@media (min-width: 761px) and (max-width: 979px) {
  .home header h1 {
    font-size: 72px;
    letter-spacing: 5px;
    line-height: 80px;
    position: absolute;
    top: 72px;
    left:-72px;
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  
  header h1 .one   { text-indent: -402px; }
  header h1 .two   { text-indent: 0; }
  header h1 .three { text-indent: -546px; }
  header h1 .four  { text-indent: 0; }
  header h1 .five  { text-indent: 320px; }
}

@media (min-width: 980px) {
  .home header h1 {
    font-size: 108px;
    letter-spacing: 5px;
    line-height: 120px;
    position: absolute;
    top: 72px;
    left:-72px;
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  
  header h1 .one   { text-indent: -600px; }
  header h1 .two   { text-indent: 0; }
  header h1 .three { text-indent: -780px; }
  header h1 .four  { text-indent: 0; }
  header h1 .five  { text-indent: 360px; }
}

@media (min-width: 1200px) {
  header h1 .five  { text-indent: 508px; }
}

/* Quote Style Tweak */
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 3px solid rgba(96,103,103,1);
}



/*=======================================*/
/*=======================================*/
/*=======================================*/
/* Full Page Loading Screen */
/*=======================================*/
/*=======================================*/
/*=======================================*/
#loader {
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(55,46,42,1);
  color: rgba(132,132,120,1);
  z-index: 1000000;
}

#loader .outer-container {
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  display: table;
  top: 0;
  right: 0;
}

#loader .outer-container .inner-container {
  display: table-cell;
  vertical-align: middle;
}

#loader .outer-container .inner-container div {
  width: 97.91667%;
  float: left;
  margin: 0 1.04167%;
  font-size: 2.25em;
  line-height: 1.33333em;
  text-align: center;
}

#loader .outer-container .inner-container div img {
  display: block;
  margin: 0 auto;
  }

#loader .outer-container .inner-container div h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  }

#loader .outer-container .inner-container div p {
  width: 50%;
  margin: 0 auto;
  font-size: 80%;
}

#loader .outer-container .inner-container p.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000001;
}

/*=======================================*/
/*=======================================*/
/*=======================================*/

/*.navbar mediaqueries */
@media (max-width: 979px) {
  #main {
    clear:both;
    margin: 0 10px;
  }
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 980px) {
  #main {
    margin-top:60px;
  }
}

/* + Notes.ookb.co stuff */
/* =================================================================== */
/* =================================================================== */

.past h2 {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 0;
  text-decoration: line-through;
}

article h3  {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 800 !important;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

article ol {
  margin: 0 0 0 4px;
  padding: 0;
}

.stricken, del {
  text-decoration: line-through;
}

#post h1 {
  color: rgba(175,171,104,1);
  font-size: 48px;
}

#post p {
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 1em;
}

#post p:nth-child(3) {
  font-size: 24px;
  line-height: 32.5px;
  margin: 19.5px 0;
  text-indent: 0;
}

#post p.meta {
  color: rgba(96,103,103,1);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 19.5px 0;
  text-indent: 0;
}

#loader h1 em {
  font-family: "gentium book basic", georgia, "times new roman", times, serif !important;
  font-weight: 400 !important;
  text-transform: lowercase !important;
  }

/* #main homepage "notes" link list */
#main ul.posts {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  /**/
  list-style: none;
  padding: 0;
}

#main ul.posts li {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}

#main ul.posts li:first-child {
  font-size: 24px;
  line-height: 32.5px;
}

#main ul.posts li span {
  color: rgba(96,103,103,1);
  font-size: 14px;
  display: inline-block;
  width: 100px;
  text-transform: uppercase;
}

/* Related Posts Styles */
aside#related {
  border-top: 1px solid rgba(96,103,103,1);
  color: rgba(96,103,103,1);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin-top: 39px;
  padding-top: 19.5px;
}

.notes footer {
  margin-top: 80px;
}

/* ========================= */