/* 1. @Font-Face Ñ load my google fonts... */

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,300,600");
@import url("http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700,400italic,700italic");

body, .opensans {font-family: 'Open Sans', Helvetica, Arial, sans-serif; }
.gentium { font-family: 'Gentium Book Basic', Georgia, serif; }

/* END @Font-Face */

/* SETUP media query stuff */
@media (max-width: 480px) {}
@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 979px) {}
@media (max-width: 979px) {}
@media (min-width: 980px) {}
@media (min-width: 1200px) {}

/* 2. General Layout / Design Stuff */
/* =================================================================== */
/* =================================================================== */

/* Color Palette */
/*
pink          rgba(236,64,121,1)
brown         rgba(47,41,38,1)
gray          rgba(132,132,120,1)
dark gray     rgba(96,103,103,1)
light gray    rgba(194,211,186,1)

red           rgba(183,80,81,1)
orange        rgba(195,115,99,1)
yellow        rgba(197,192,101,1)
green         rgba(140,165,115,1)
blue          rgba(157,178,176,1)
purple        rgba(174,139,164,1)
*/

* {}

html {
  background: rgba(96,103,103,1);
  color: rgba(47,41,38,1) !important;
  min-height: 101%;
  /**/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background: rgba(132,132,120,1);
  border: 2px solid rgba(47,41,38,1);
  color: rgba(47,41,38,1) !important;
  margin: 20px;
  min-height: 101% !important;
  padding: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
}

header #logo {
  position: fixed;
  top:-40px;
  z-index: 999;
}

#main {}

footer {
  border-top: 6px solid rgba(47,41,38,1); 
  margin-top: 72px;
  margin-bottom: 72px;
  padding: 24px 0;
}

/* MAIN TOP NAV STYLES                                   */
/* ===================================================== */

nav.navbar.mainnav {
  background: rgba(96,103,103,1) !important;
  border-bottom: 2px solid rgba(47,41,38,1) !important;
  color: rgb(47, 41, 38);
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  left:20px;
  z-index: 989;
}

nav.navbar.mainnav .navbar-inner {
  background: transparent;
  background-image: none;
  border: none;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

nav.navbar.mainnav h2 {
  color: rgb(47, 41, 38);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  line-height: 19px;
  text-transform: uppercase;
}

nav.navbar.mainnav h2 em {
  color: rgb(47, 41, 38);
  text-transform: lowercase;
  font-weight: 400;
}

nav.navbar.mainnav a.brand,
nav.navbar.mainnav ul.nav a {
  color: rgb(47, 41, 38);
  background: none;
  border: none;
  opacity: 1;
  display: block;
  padding: 15px;
  text-decoration: none;
}

nav.navbar.mainnav a.brand,
nav.navbar.mainnav a.brand h2 {
  text-align: right;
  float: none;
}

nav.navbar.mainnav .rightside ul.nav li a {
  border-right: 2px solid rgba(47,41,38,1);
  font-weight: 400;
  list-style: none;
}


/* Array of images on the homepage that scroll with text */
/* ===================================================== */
#array {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 60px;
  z-index: 777;
  opacity: .22;
}

#array li img {
  transform:rotate(-22.5deg);
  -ms-transform:rotate(-22.5deg); 
  -moz-transform:rotate(-22.5deg);
  -webkit-transform:rotate(-22.5deg);
  -o-transform:rotate(-22.5deg);
}

#array li.eleven img {
  transform:rotate(11.25deg);
  -ms-transform:rotate(11.25deg); 
  -moz-transform:rotate(11.25deg);
  -webkit-transform:rotate(11.25deg);
  -o-transform:rotate(11.25deg);
}

#array li.fortyfive img {
  transform:rotate(-45deg);
  -ms-transform:rotate(-45deg); 
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
}

#array li:nth-child(1) { margin-top:  30px; }
#array li:nth-child(2) { margin-top:  -5px; }
#array li:nth-child(3) { margin-top: 150px; }
#array li:nth-child(4) { margin-top:  20px; }
#array li:nth-child(5) { margin-top:  50px; }
#array li:nth-child(6) { margin-top: -25px; }




/* 3. TYPOGRAPHY */
/* =================================================================== */
/* =================================================================== */
.leftside {text-align: right;}
.rightside {text-align: left;}

/* Links and More */
/* =================================================================== */

a {
  color: rgba(47,41,38,1);
  text-decoration: none;
  background: rgba(132,132,120,.1);
  border-bottom: 1px solid rgba(236,64,121,1);
  padding: 1px 2px 1px 2px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
}

a:hover,
nav.navbar.mainnav a.brand:hover,
nav.navbar.mainnav ul.nav a:hover { 
  background: rgba(236,64,121,1);
  color: white;
  text-decoration: none;
  }

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

::selection {
  background: rgba(236,64,121,1);
  color: white;
  text-shadow: none;
}

header h1 { display: none; }

.home header h1 {
  display: block;
  font-size: 72px;
  letter-spacing: 5px;
  line-height: 96px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  /**/
  position: relative;
  top: 72px;
  left:-72px;
  z-index: 888;
  margin: 0;
  padding: 0;
}

header h1 em { 
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: -5px;
}

header h1 em, header span {
  display:block;
  margin:0;
  padding:0;
}

header h1 .text {
  transform:rotate(-22.5deg);
  -ms-transform:rotate(-22.5deg); 
  -moz-transform:rotate(-22.5deg);
  -webkit-transform:rotate(-22.5deg);
  -o-transform:rotate(-22.5deg);
}

header h1 .one   { text-indent: -432px; }
header h1 .two   { text-indent: 0; }
header h1 .three { text-indent: -576px; }
header h1 .four  { text-indent: 0; }
header h1 .five  { text-indent: 482px; }

header #pagedown {
  position: fixed;
  bottom: 36px;
  left: 50%;
  /**/
  background: none;
  border: none;
  font-size: 72px;
  line-height: 72px;
  margin: 0;
  margin-left: -36px;
  opacity: .66;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 72px;
  z-index: 999;
}

/* 4. Slideshow Styles */
/* =================================================================== */
/* =================================================================== */

.home #main {min-height: 620px; padding-top: 90px;}

.ss, .slideshow         { min-height: 620px;}
.home .placeholder      { height: 600px; overflow: hidden; }
.placeholder.red        { background: rgba(183,80,81,1); }
.placeholder.orange     { background: rgba(195,115,99,1); }
.placeholder.yellow     { background: rgba(197,192,101,1); }
.placeholder.green      { background: rgba(140,165,115,1); }
.placeholder.blue       { background: rgba(157,178,176,1); }
.placeholder.purple     { background: rgba(174,139,164,1); }
.placeholder.gray       { background: rgba(132,132,120,1); }
.placeholder.span10.nm  { margin: 0;}

.ssnav a {
  display: block;
  font-size: 100px;
  height: 349px;
  line-height: 100px;
  padding-top: 249px;
  position: relative;
  text-align: center;
  z-index: 889;
}

#pager {
  margin: 0 0 x15px 0;
  position: relative;
  text-align: center;
  z-index: 9;
  width: 100%;
}

#pager a {
  background: rgba(96,103,103,1);
  border: none;
  display: inline-block;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  width: 20px;
  text-indent: -9999999px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
}

#pager a.activeSlide { background: rgba(47,41,38,1); }
#pager a:hover { background: rgba(194,211,186,1); }

/* image styling awesomeness */
/* Grayscale and then colorize! */
.slideshow img {
  opacity: .5;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscalerayscale");
  filter: gray;
  -webkit-filter: saturate(0%);
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
}

.slideshow img:hover {
  opacity: 1;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: saturate(100%);
}


/* 5. Description Styles */
/* =================================================================== */
/* =================================================================== */

.placeholder article.description {display: table; vertical-align: middle;}
.placeholder article.description div {display: table-cell; vertical-align: middle;}
.placeholder article.description, .placeholder article.description div {
  height: 100%;
  width: 100%;
}

.placeholder article.description div p {
  padding: 30px;
  font-size: 45px;
  line-height: 60px;
}





/* 6. Masonry stuff */
/* =================================================================== */
/* =================================================================== */

#main {
  margin-top:60px;
}

#masonry {
  list-style: none;
  margin: 0;
  padding: 0;
}

#masonry li {
  margin: 0 0 30px 30px;
}

#masonry .placeholder       {height:150px;}
#masonry .placeholder.short {height:75px;}
#masonry .placeholder.tall  {height:300px;}

/**/
.overlaidtext {
  margin-bottom: 30px;
  position: relative;
}

.overlaidtext p {
  background: rgba(132,132,120,1);
  font-size: 36px;
  font-weight: 800;
  line-height: 42px;
  margin-top: -84px;
  padding: 20px;
  position: absolute;
  top:50%;
  left: 140px;
  text-transform: uppercase;
  z-index: 99;
}

.overlaidtext p em {
  font-weight: 400;
  font-style: italic;
  text-transform: lowercase;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}