* {
  box-sizing: border-box;
}
body {
  background: white;
  color: #6e6e70;
}
header {
  padding-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
footer,
footer p,
footer ul {
  margin-top: 50px;
}
footer {
  margin-bottom: 50px;
}
main > .tab-content > .tab-pane {
  padding: 0 15px 30px;
}
/**** header logo stuff *****/
img {
  max-width: 100%;
}
header .list-inline {
  margin-bottom: 40px;
}
header .list-inline li {
  max-width: 25%;
  margin: 0 2%;
  vertical-align: middle;
}
header .list-inline li:nth-child(1) {
  display: list-item;
  margin-bottom: 20px;
}
header h1 {
  margin-bottom: 40px;
  border-bottom: 2px solid #ed1c24;
  padding-bottom: 20px;
  border-top: 2px solid #ed1c24;
  padding-top: 20px;
  color: #ed1c24;
  text-align: left;
}
@media (min-width: 768px) {
  header .list-inline {
    margin-bottom: 0;
  }
  header .list-inline li {
    max-width: 15%;
    margin: 0 4%;
    vertical-align: middle;
  }
  header .list-inline li:nth-child(1) {
    display: inline-block;
    margin: 0 11% 0 0;
  }
  header .list-inline li:nth-child(3) {
    max-width: 10%;
  }
  header .list-inline li:nth-child(4) {
    max-width: 18%;
    margin-right: 0;
  }
  header h1 {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  header .list-inline li:nth-child(1) {
    margin: 0 8% 0 0;
  }
  header h1 {
    font-size: 36px;
  }
}
header .btn-block,
footer .btn-block {
  background: white;
  color: #ed1c24;
  border-color: #ed1c24;
}
header .btn-block:hover,
footer .btn-block:hover {
  background: #ed1c24;
  color: white;
  border-color: #ed1c24;
}
#bigtabs a {
  color: #ed1c24;
  border-color: lightblue;
}
#bigtabs .active a {
  color: black;
  border: none;
}
#bigtabs a:hover {
  color: #6cb9d2;
  background: #e1f1f6;
}
#bigtabs .active a:hover {
  color: black;
  background: lightblue;
}
/** custom tab stuff below **/
#maintabs {
  padding-bottom: 100px;
  padding-top: 30px;
}
article > h2 {
  text-align: center;
  color: black;
  margin-bottom: .75em;
}
article .tab-pane {
  min-height: 275px;
  background: white;
}
article .tab-pane h3 {
  margin-top: .3em;
}
article .nav-pills > li > a {
  border-radius: 4px !important;
}
article .tab-content > .tab-pane {
  margin: 0 -15px;
  border: 5px solid;
  padding: 5px 20px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  article .nav-pills > li > a {
    border-radius: 4px 0px 0px 4px !important;
  }
  article .tab-content > .tab-pane {
    margin: 0 0 0 -30px;
    border: 5px solid;
    padding: 5px 20px;
    border-radius: 0 10px 10px 0;
  }
}
article ul.nav {
  padding-left: 15px;
}
.tab-content.you,
.nav-tabs .you.active > a,
.nav-tabs .you.active > a:hover,
.tab-content.youplus,
.nav-tabs .youplus.active > a,
.nav-tabs .youplus.active > a:hover {
  background: lightblue;
}
.tab-pane > ul li {
  margin: 5px 0;
}
.tab-pane ul {
  margin-bottom: 20px;
}
/**** override bootstrap *****/
.nav-tabs.nav-justified > li > a {
  border-color: lightblue;
  border-bottom: none !important;
  border-radius: 10px 10px 0 0;
  color: black;
}
.tab-content > .tab-pane.interior a {
  color: black;
  border-bottom: 1px solid;
  text-decoration: none !important;
}
.tab-content > .tab-pane.interior a:hover {
  color: black;
}
.mytabs > li > a {
  color: black;
}
.mytabs > li > a:hover {
  background: white;
}
/*red*/
/*orange*/
/*dk grn*/
/*dk blue*/
/*purple*/
/* red again? */
/*uno*/
.tab-content > .tab-pane.interior.uno a {
  border-color: #78090e;
}
/* .nav-pills>li.uno>a, */
.tab-content > .tab-pane.uno h3,
.tab-content > .tab-pane.uno h4 {
  color: #78090e;
}
.nav-pills > li.active.uno > a,
.nav-pills > li.active.uno > a:hover,
.nav-pills > li.active.uno > a:focus {
  color: white;
  background-color: #78090e;
}
.tab-content > .tab-pane.uno {
  border-color: #78090e;
}
/*dos*/
.tab-content > .tab-pane.interior.dos a {
  border-color: #977804;
}
/* .nav-pills>li.dos>a, */
.tab-content > .tab-pane.dos h3,
.tab-content > .tab-pane.dos h4 {
  color: #977804;
}
.nav-pills > li.active.dos > a,
.nav-pills > li.active.dos > a:hover,
.nav-pills > li.active.dos > a:focus {
  color: white;
  background-color: #977804;
}
.tab-content > .tab-pane.dos {
  border-color: #977804;
}
/*tres*/
.tab-content > .tab-pane.interior.tres a {
  border-color: #196036;
}
/* .nav-pills>li.tres>a, */
.tab-content > .tab-pane.tres h3,
.tab-content > .tab-pane.tres h4 {
  color: #196036;
}
.nav-pills > li.active.tres > a,
.nav-pills > li.active.tres > a:hover,
.nav-pills > li.active.tres > a:focus {
  color: white;
  background-color: #196036;
}
.tab-content > .tab-pane.tres {
  border-color: #196036;
}
/*quatro*/
.tab-content > .tab-pane.interior.quatro a {
  border-color: #054b78;
}
/* .nav-pills>li.quatro>a, */
.tab-content > .tab-pane.quatro h3,
.tab-content > .tab-pane.quatro h4 {
  color: #054b78;
}
.nav-pills > li.active.quatro > a,
.nav-pills > li.active.quatro > a:hover,
.nav-pills > li.active.quatro > a:focus {
  color: white;
  background-color: #054b78;
}
.tab-content > .tab-pane.quatro {
  border-color: #054b78;
}
/*cinco*/
.tab-content > .tab-pane.interior.cinco a {
  border-color: #46125c;
}
/* .nav-pills>li.cinco>a, */
.tab-content > .tab-pane.cinco h3,
.tab-content > .tab-pane.cinco h4 {
  color: #46125c;
}
.nav-pills > li.active.cinco > a,
.nav-pills > li.active.cinco > a:hover,
.nav-pills > li.active.cinco > a:focus {
  color: white;
  background-color: #46125c;
}
.tab-content > .tab-pane.cinco {
  border-color: #46125c;
}
/*seis*/
.tab-content > .tab-pane.interior.seis a {
  border-color: #ed1c24;
}
/* .nav-pills>li.seis>a, */
.tab-content > .tab-pane.seis h3,
.tab-content > .tab-pane.seis h4 {
  color: #ed1c24;
}
.nav-pills > li.active.seis > a,
.nav-pills > li.active.seis > a:hover,
.nav-pills > li.active.seis > a:focus {
  color: white;
  background-color: #ed1c24;
}
.tab-content > .tab-pane.seis {
  border-color: #ed1c24;
}
/****/
/*** Some Mobile Fixes ***/
a.btn {
  white-space: normal;
}
.nav-tabs.nav-justified li {
  display: inline-block;
  width: 50%;
  float: left;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 0;
}
