#student-listing ul.list,
#student-listing ul.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

#student-listing ul.list {
  border-top: 4px solid black;
  margin-top: 1em;
}

#student-listing ul.list li.student {
  border-bottom: 4px solid #ccc;
  margin: 1em 0;
  padding: 0 0 1em 0;
}

#student-listing ul.list li.student ul.info > li {
  width: calc(100% / 5);
  float: left;
}

#student-listing ul.list li.student ul.info > li.images {
  width: 100%;
}

#student-listing .list .student ul.image-list {
  padding: 1em 0 2em;
}

#student-listing .list .student ul.image-list li {
  width: calc(100% / 6);
  float: left;
  vertical-align: top;
  padding: .25em;
}

#student-listing .list .student ul.image-list li .block {
  border: 1px solid #eee;
  vertical-align: top;
  padding: .25em;
}

#student-listing .list .student ul.image-list li .block:hover {
  background: #eee;
}
