#student-listing ul.list,
#student-listing ul.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

#student-listing ul.list {
  border-top: 1px solid black;
  margin-top: 1em;
}

#student-listing ul.list li.student {
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
  padding: 0 0 1em 0;
}

#student-listing ul.list li.student ul.info > li {
  width: calc(100% / 5);
  float: left;
}

#student-listing ul.list li.student ul.info > li.images {
  width: 40%;
}

#student-listing .list .student ul.image-list {
  border-top: 1px solid #eee;
}

#student-listing .list .student ul.image-list li {
  border-bottom: 1px solid #eee;
  vertical-align: top;
  padding: .25em 0;
}