/** ******************************************** **/
/** ******************************************** **/
/** Design Students: Please Don't Edit this File **/
/** ******************************************** **/
/** ******************************************** **/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.the.outer.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.a.block {
  float: left;
  border: dotted #322d29 1px;
}

.one.hundred.percent.wide {
  width: 100%;
}

.seventy.five.percent.wide {
  width: 75%;
}

.fifty.percent.wide {
  width: 50%;
}

.twenty.five.percent.wide {
  width: 25%;
}

.block img {
  width: 100%;
  height: auto;
}

.mid img {
	padding: 2%;
	width: 95%;
	height: auto;
	text-align: center;
}

.smallmid img {
	padding: 13%;
	width: 90%;
	height: auto;
	text-align: center;
}

.bigmid img {
	padding-top: 5%;
	padding-bottom: 10%;
	width: 95%;
	height: auto;
	text-align: center;
}

.buffer {
	padding: 3%;
}

