/** Style Away. **/
.five.percent.wide {
  width: 5%;
  padding-bottom:50%;
}

.ten.percent.wide {
  width: 10%;
  padding-bottom:50%;
}

.fifteen.percent.wide {
  width: 15%;
  padding-bottom:50%
}

.twenty.percent.wide {
  width: 20%;
  padding-bottom:50%;
}

.thirty.percent.wide {
  width: 30%;
  padding-bottom: 50%;
}

.thirty.three.percent.wide {
  width: 33.3%;
  padding-bottom: 50%;
}

.thirty.five.percent.wide {
  width: 35%;
  padding-bottom: 50%;
}

.forty.percent.wide {
  width: 40%;
  padding-bottom:50%;
}

.seventy.five.percent.wide {
  width: 75%;
  padding-bottom: 50%;
}

.seventy.percent.wide {
  width: 70%;
  padding-bottom:50%;
}

.sixty.percent.wide {
  width:60%;
  padding-bottom:50%;
}

.sixty.six.percent.wide {
  width: 66.6%;
  padding-bottom: 50%;
}
